@*@model.ClassLibrary.Models.Books*@


@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
@*<div>
<nav class="navbar">
    <a href="#" class="navbar-brand"> Downtown Deli</a>



</nav>
</div>*@
<h1> Welcome to Dowtown Deli</h1>
<h3> Executive summary:</h3>
<br />
<div style="font-weight:300">
<p style="text-indent: 1em "> On this webpage you can add your customer info, create orders, search for your past orders, and much more!<br />
    This sight was built using the ASP.Net template for the user interface, and dotnet core for the backend.<br />
    <br />
    Check out a link to the code here: <a href="#" type="text"> GitHub</a>
    
    </p>
</div>