
<h1>Welcome to the customer page</h1>
<hr />
<p>Select an option from the list</p>
<br />
@Html.ActionLink("Display Customers", "DisplayCustomers", "Customer")
<br />
@Html.ActionLink("Add Customers", "CreateCustomer", "Customer")
<br />
@Html.ActionLink("Search Customers", "SearchCustomer", "Customer")
